{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  <p>Enotes Management System using Python Django</p>
</div>
<br><br>
<h2 style="text-align:center">Profile</h2>
<div class="row offset-3">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/t2.jpg' %}" alt="Pankaj Panjwani" style="border-radius: 50%;">
      <div class="container">
        <h2>RajKumar</h2>
        <p class="title">Student</p>
        <p>Student at NCIRL</p>
        <p>RajKumar@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

 

</body>
</html>



