[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==22.2.0"
awsebcli = "==3.20.5"
bcrypt = "==4.0.1"
blessed = "==1.20.0"
botocore = "==1.29.81"
cached-property = "==1.5.2"
cement = "==2.8.2"
certifi = "==2022.12.7"
cffi = "==1.15.1"
charset-normalizer = "==2.0.12"
colorama = "==0.4.3"
cryptography = "==39.0.2"
django = "==2.2"
django-jazzmin = "==2.6.0"
docker = "==4.4.4"
docker-compose = "==1.25.5"
dockerpty = "==0.4.1"
docopt = "==0.6.2"
idna = "==3.4"
jmespath = "==1.0.1"
jsonschema = "==3.2.0"
paramiko = "==3.0.0"
pathspec = "==0.10.1"
pillow = "==9.4.0"
pycparser = "==2.21"
pynacl = "==1.5.0"
pyrsistent = "==0.19.3"
python-dateutil = "==2.8.2"
pytz = "==2022.7.1"
pyyaml = "==5.4.1"
requests = "==2.26.0"
semantic-version = "==2.8.5"
six = "==1.14.0"
sqlparse = "==0.4.3"
stripe = "==5.2.0"
termcolor = "==1.1.0"
texttable = "==1.6.7"
urllib3 = "==1.26.14"
wcwidth = "==0.1.9"
websocket-client = "==0.59.0"
mysqlclient = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.11"
