container_commands:
  01_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
        leader_only: true
  collectstatic:
    command: |
      source $PYTHONPATH/activate
      python3 manage.py collectstatic --noinput

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Enotes_Management_System.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static